<ngx-spinner></ngx-spinner>

<div class="container">
    <!-- <a routerLinkActive="active" routerLink="/home">Home</a> |
    <a routerLinkActive="active" routerLink="/toDo-Data">Data Table</a>
  <div class="page-header col-md-10">
    <h2 class="header">To Do Management Application</h2>
  </div>
  <div class="row">
    <div class="col-md-10">
      <toDo-Form></toDo-Form>
      <toDo-Data></toDo-Data>
    </div>
    <div class="col-md-6">
      <toDo-Data></toDo-Data>
    </div>
  </div> -->
  <a routerLinkActive="active" routerLink="/home">Home</a> |
  <a routerLinkActive="active" routerLink="/toDo-Data">Data Table</a>
</div>
<router-outlet></router-outlet>
